/**
 * /* ----------- Non-Retina Screens -----------
 *
 * @format
 */
@media screen and (min-width: 1370px) {
  .home-wrapper,
  .featured-section,
  .mobile-navbar {
    display: none;
  }
  .navbar {
    display: -ms-grid;
    display: grid;
  }
}

@media only screen and (max-width: 1370px) {
  .home-wrapper {
    background: url("../../img/landpage.jpg") center no-repeat;
    background-size: cover;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 40vh;
  }
  .welcome-section {
    display: none;
  }
  #welcome-text {
    display: none !important;
  }
  .navbar {
    display: none !important;
  }
  .logo {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .logo img {
    width: 70px;
  }
  .featured-section {
    padding: 0 0 20px 0 !important;
  }
  .mobile-navbar {
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform-origin: left top;
            transform-origin: left top;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    background-color: white;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px;
    gap: 20px;
    -webkit-box-shadow: 0px 8px 9px -3px #adadad;
    box-shadow: 0px 8px 9px -3px #adadad;
  }
  .mobile-navbar .mobile-nav-active {
    height: 100vh;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .mobile-navbar #close-nav-btn {
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
  }
  .mobile-navbar #close-nav-btn:hover {
    cursor: pointer;
    color: #1361c3;
  }
  .mobile-navbar #open-nav-btn {
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .mobile-navbar #open-nav-btn:hover {
    cursor: pointer;
    color: #1361c3;
  }
  .mobile-navbar .search-form {
    display: none;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .mobile-navbar .search-form input,
  .mobile-navbar .search-form select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 10px 0;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #c2c2c2;
  }
  .mobile-navbar .search-form .drawer-logo {
    text-align: center;
    padding: 0 0 20px 0;
  }
  .mobile-navbar .search-form .drawer-logo img {
    width: 70px;
  }
  .mobile-navbar .search-form .submit-search {
    width: 180px;
    height: 33px;
    background: #1361c3;
    color: white;
    border: 0;
    border-radius: 5px;
  }
  .mobile-navbar .search-form button:hover {
    background: #1361c3;
    -webkit-filter: brightness(80%);
            filter: brightness(80%);
  }
  .mobile-navbar .login {
    display: none;
    padding-top: 40px;
  }
  .home-wrapper select {
    margin: 10px 0 !important;
  }
  .home-wrapper button {
    margin-top: 10px !important;
  }
}

@media only screen and (max-width: 1270px) {
  html {
    overflow-y: scroll !important;
    overflow-x: hidden;
  }
  .mobile-navbar {
    position: fixed;
    z-index: 1;
    background-color: white;
  }
  #welcome-text {
    display: none !important;
  }
  .search-form {
    padding: 160px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 50vw;
  }
  .search-form form {
    width: 260px;
  }
  .search-form input {
    margin: 10px 0;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 60px !important;
    height: 60px !important;
  }
  .single-listing {
    display: inline-block !important;
    width: 100vw !important;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    z-index: 0;
    position: absolute;
  }
  .single-result-details {
    -ms-grid-row: 2 !important;
    grid-row: 2 !important;
    -ms-grid-column: 1 !important;
    -ms-grid-column-span: 3 !important;
    grid-column: 1/4 !important;
    z-index: 0 !important;
  }
  .single-result-image {
    position: relative !important;
    -ms-grid-column: 1 !important;
    -ms-grid-column-span: 3 !important;
    grid-column: 1/4 !important;
    -ms-grid-row: 1;
    grid-row: 1;
    width: 100% !important;
    margin: 0 auto;
    z-index: 0 !important;
    height: 50vh !important;
    padding: 20px;
  }
  .single-result-image img {
    -o-object-fit: contain;
       object-fit: contain;
    height: 50vh !important;
    width: 100% !important;
    position: relative !important;
    z-index: 0 !important;
  }
  #map {
    height: 100% !important;
  }
}

@media only screen and (max-width: 897px) {
  .search-form {
    height: 270px !important;
  }
  .carousel-control-next-icon {
    margin-left: -80px !important;
  }
  .single-result-details,
  .single-result-image {
    padding: 0 !important;
  }
  .single-listing {
    padding-top: 20px;
  }
  .general-info {
    padding: 0 20px !important;
  }
  .ticket-text {
    margin: 0 auto !important;
    padding-left: 20px;
  }
}
/*# sourceMappingURL=queries.css.map */