<!-- @format -->
<div class="home">
  <div class="home-wrapper">
    <div class="loader"></div>
  </div>
  <div class="loading-wrapper">
    <div class="loader"></div>
  </div>
  <div class="error-msg-results">
    <h2>No results found or invalid search</h2>
  </div>
</div>
