<!-- @format -->
<div class="home">
  <div class="home-wrapper">
    <div class="loader"></div>
    <div class="search-form">
      <div class="featured-section">
        <h4>Search Properties</h4>
        <div class="underline"></div>
      </div>
      <form class="search-it" action="/main-results" method="POST">
        <input
          type="hidden"
          name="offset"
          id=""
          placeholder=""
          value="0"
          disabled
        />
        <input
          type="hidden"
          name="limit"
          id=""
          placeholder=""
          value="40"
          disabled
        />
        <input type="number" name="price_max" id="" placeholder="Max Price" />
        <input type="number" name="beds_max" id="" placeholder="Max Rooms" />
        <input type="number" name="baths_max" id="" placeholder="Max Baths" />
        <input type="text" name="city" id="" placeholder="City" required />
        <input
          type="text"
          name="state_code"
          id=""
          placeholder="State"
          required
        />

        <select name="property_type" required>
          <option value="" disabled selected>Property Type</option>
          <option value="single_family">Single Family</option>
          <option value="multi_family">Multi Family</option>
          <option value="town_house">Town House</option>
          <option value="condos">Condo</option>
          <option value="land">Land</option>
          <option value="mobile">Mobile</option>
        </select>
        <br />
        <button style="width: 180px" class="submit-search" type="submit">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </form>
    </div>
  </div>
  <div class="loading-wrapper">
    <div class="loader"></div>
  </div>
  <div class="error-msg-results">
    <h2>No results found or invalid search</h2>
  </div>
</div>
