<!-- @format -->
<div class="home">
  <div class="home-wrapper">
    <div class="welcome-section">
      <img src="/img/topBg.jpg" alt="main banner" />
    </div>

    <div class="loader"></div>
    <div class="search-form">
      <div class="featured-section">
        <h4>Search Properties</h4>
        <div class="underline"></div>
      </div>
      <form class="search-it" action="/main-results" method="POST">
        <input type="hidden" name="offset" placeholder="" value="0" disabled />
        <input type="hidden" name="limit" placeholder="" value="40" disabled />
        <input
          type="number"
          name="price_max"
          placeholder="Max Price"
          min="50000"
          max="700000"
        />
        <input
          type="number"
          name="beds_max"
          placeholder="Max Rooms"
          min="1"
          max="5"
        />
        <input
          type="number"
          name="baths_max"
          placeholder="Max Baths"
          min="1"
          max="4"
        />
        <input
          type="text"
          name="city"
          placeholder="City"
          id="autocomplete4"
          required
          pattern="[a-zA-Z, ]+"
        />
        <input
          type="text"
          name="state_code"
          placeholder="State"
          required
          pattern="[a-zA-Z]+"
        />

        <select name="property_type" required>
          <option value="" disabled selected>Property Type</option>
          <option value="single_family">Single Family</option>
          <option value="multi_family">Multi Family</option>
          <option value="town_house">Town House</option>
          <option value="condos">Condo</option>
          <option value="land">Land</option>
          <option value="mobile">Mobile</option>
        </select>
        <br />
        <button style="width: 180px" class="submit-search" type="submit">
          <i class="fa fa-search" aria-hidden="true"></i>
        </button>
      </form>
    </div>
  </div>
  <div class="loading-wrapper">
    <div class="loader"></div>
  </div>
  <div id="welcome-text">
    <div class="welcome-sec">
      <h1>A smarter way to discover your new home, today.</h1>
      <br />
      <p>
        Begin with telling us about your type of property above. We provide all
        the information you need about the property you desire.
      </p>
    </div>
    <div id="homeImg"></div>
  </div>
  <!-- <input type="text" name="" id="autocomplete" /> -->
  <script>
    let animation = anime({
      targets: "#welcome-text",
      translateY: 180,
      direction: "alternate",
      loop: false,
      easing: "cubicBezier(.5, 3, .1, 2)",
    });

    $(".welcome-sec")
      .css({ opacity: 0, visibility: "visible" })
      .animate({ opacity: 1.0 }, 200);
  </script>
</div>

<div class="getInfoBox">
  <div class="infoCloseBtn">
    <i class="fas fa-times"></i>
  </div>
  <div class="infoOpenBtn">
    <i class="fas fa-plus    "></i>
  </div>
  <div class="getInfoWrapper">
    <h3>Get notified of newest properties</h3>
    <p>Just provide us with a little info!</p>
    <form action="signUp" method="post">
      <input type="tel" name="tn" id="" placeholder="Tel" limit="10" />
      <input type="email" name="email" id="" placeholder="email" />
      <br />
      <button class="submitInfo" type="submit">
        <i class="fas fa-paper-plane"></i>
      </button>
    </div>
  </form>
  <div class="formSubmittedText">
    Thanks, new properties coming to you shortly!
  </div>
  <div class="redoInfo">
    <i class="fas fa-redo-alt"></i>
  </div>
</div>
