<!-- @format -->

<!-- Mobile Navbar -->

<div class="mobile-navbar">
  <div id="close-nav-btn"><i class="fas fa-times"></i></div>
  <div id="open-nav-btn"><i class="fas fa-bars"></i></div>
  <div class="logo">
    <a href="/"><img src="/img/logo.png" alt="logo-house" /></a>
  </div>
  <div class="search-form">
    <!-- <div class="drawer-logo">
      <a href="/"><img src="/img/logo.png" alt="logo-house" /></a>
    </div> -->
    <form action="/main-results" method="POST">
      <input type="hidden" name="offset" placeholder="" value="0" disabled />
      <input type="hidden" name="limit" placeholder="" value="50" disabled />

      <select name="price_min">
        <option value="" default selected>Min Price</option>
        <option value="0">$0</option>
        <option value="100000">$100,000</option>
        <option value="200000">$200,000</option>
        <option value="300000">$300,000</option>
        <option value="400000">$400,000</option>
        <option value="500000">$500,000</option>
        <option value="600000">$600,000</option>
        <option value="700000">$700,000</option>
        <option value="800000">$800,000</option>
        <option value="900000">$900,000</option>
      </select>
      <select name="price_max">
        <option value="" default selected>Max Price</option>
        <option value="100000">$100,000</option>
        <option value="200000">$200,000</option>
        <option value="300000">$300,000</option>
        <option value="400000">$400,000</option>
        <option value="500000">$500,000</option>
        <option value="600000">$600,000</option>
        <option value="700000">$700,000</option>
        <option value="800000">$800,000</option>
        <option value="900000">$900,000</option>
        <option value="1000000">$1M</option>
      </select>

      <input
        class="fas fa-money-bill-wave"
        type="number"
        name="beds_min"
        placeholder="Rooms &#xf236;"
        min="1"
        max="4"
      />
      <input
        class="fas fa-money-bill-wave"
        type="number"
        name="baths_min"
        placeholder="Baths &#xf2cd;"
      />
      <input
        type="text"
        name="city"
        placeholder="City"
        id="autocomplete"
        required
        pattern="[a-zA-Z, ]+"
      />
      <input
        type="text"
        name="state_code"
        placeholder="State"
        required
        pattern="[a-zA-Z]+"
      />

      <select name="property_type" required>
        <option value="" disabled selected>Property Type</option>
        <option value="single_family">Single Family</option>
        <option value="multi_family">Multi Family</option>
        <option value="town_house">Town House</option>
        <option value="condos">Condo</option>
        <option value="land">Land</option>
        <option value="mobile">Mobile</option>
      </select>
      <button class="submit-search" type="submit">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </form>
  </div>
  <div class="login">
    <!-- <button>Login</button> -->
    Source:
    <a href="https://rapidapi.com/datascraper/api/us-real-estate/"
      >US Real Estate API</a
    >
  </div>
</div>

<div class="navbar">
  <div class="logo">
    <a href="/"><img src="/img/logo.png" alt="logo-house" /></a>
  </div>
  <div class="loading-text">Getting Listings...</div>
  <div class="search-form">
    <form class="search-it" action="/main-results" method="POST">
      <input type="hidden" name="offset" placeholder="" value="0" disabled />
      <input type="hidden" name="limit" placeholder="" value="50" disabled />

      <select name="price_min">
        <option value="" default selected>Min Price</option>
        <option value="0">$0</option>
        <option value="100000">$100,000</option>
        <option value="200000">$200,000</option>
        <option value="300000">$300,000</option>
        <option value="400000">$400,000</option>
        <option value="500000">$500,000</option>
        <option value="600000">$600,000</option>
        <option value="700000">$700,000</option>
        <option value="800000">$800,000</option>
        <option value="900000">$900,000</option>
      </select>
      <select name="price_max">
        <option value="" default selected>Max Price</option>
        <option value="100000">$100,000</option>
        <option value="200000">$200,000</option>
        <option value="300000">$300,000</option>
        <option value="400000">$400,000</option>
        <option value="500000">$500,000</option>
        <option value="600000">$600,000</option>
        <option value="700000">$700,000</option>
        <option value="800000">$800,000</option>
        <option value="900000">$900,000</option>
        <option value="1000000">$1M</option>
      </select>

      <!-- <input
        class="fas fa-money-bill-wave"
        type="number"
        name="price_min"
        placeholder="Min &#xf0d6;"
        min="50000"
        max="700000"
      /> -->
      <!-- <input
        class="fas fa-money-bill-wave"
        type="number"
        name="price_max"
        placeholder="Max &#xf0d6;"
        min="50000"
        max="700000"
      /> -->
      <input
        class="fas fa-money-bill-wave"
        type="number"
        name="beds_min"
        placeholder="Rooms &#xf236;"
        min="1"
        max="4"
      />
      <input
        class="fas fa-money-bill-wave"
        type="number"
        name="baths_min"
        placeholder="Baths &#xf2cd;"
      />
      <input
        type="text"
        name="city"
        placeholder="City"
        id="autocomplete1"
        required
        pattern="[a-zA-Z, ]+"
      />
      <input
        type="text"
        name="state_code"
        placeholder="State"
        required
        pattern="[a-zA-Z]+"
      />

      <select name="property_type" required>
        <option value="" disabled selected>Property Type</option>
        <option value="single_family">Single Family</option>
        <option value="multi_family">Multi Family</option>
        <option value="town_house">Town House</option>
        <option value="condos">Condo</option>
        <option value="land">Land</option>
        <option value="mobile">Mobile</option>
      </select>
      <button class="submit-search" type="submit">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </form>
  </div>
  <div class="login">
    <!-- <button>Login</button> -->
    Source:
    <a href="https://rapidapi.com/datascraper/api/us-real-estate/"
      >US Real Estate API</a
    >
  </div>
</div>
