<!-- @format -->

<!-- Mobile Navbar -->

<div class="mobile-navbar">
  <div id="close-nav-btn"><i class="fas fa-times"></i></div>
  <div id="open-nav-btn"><i class="fas fa-bars"></i></div>
  <div class="logo">
    <a href="/"><img src="/img/logo.png" alt="logo-house" /></a>
  </div>
  <div class="search-form">
    <button
      class="submit-search"
      style="width: 200px"
      onclick="window.history.back()"
    >
      <i class="fas fa-backward"></i>
    </button>
  </div>
  <div class="login">
    <!-- <button>Login</button> -->
    Source:
    <a href="https://rapidapi.com/datascraper/api/us-real-estate/"
      >US Real Estate API</a
    >
  </div>
</div>

<div class="navbar">
  <div class="logo">
    <a href="/"><img src="/img/logo.png" alt="logo-house" /></a>
  </div>
  <div class="loading-text">Getting Listings...</div>
  <div class="search-form">
    <button
      class="submit-search"
      style="width: 200px"
      onclick="window.history.back()"
    >
      <i class="fas fa-backward"> Results</i>
    </button>
  </div>
  <div class="login">
    <!-- <button>Login</button> -->
    Source:
    <a href="https://rapidapi.com/datascraper/api/us-real-estate/"
      >US Real Estate API</a
    >
  </div>
</div>
